html, #root, body {
  z-index: -1;
}
.nav {
  background-color: transparent;
  color: white;
  border: none;
}

.navbtn {
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
a:hover,
a:active,
a {
  text-decoration: none;
  color: white;
}
.navbtn:hover {
  border-bottom: 1px solid #f16775;
}
.logo {
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 42px;
  width: 300px;
  justify-content: start;
}
/* .navbar-toggler {
  background-color: white;
  border-color: black;
} */
h5,
h1 {
  color: white;
  padding-bottom: 5px;
}
h1,
h3,
h2 {
  font-family: "Poppins", sans-serif;
}

.heroheader {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.herorow {
  padding-top: 250px;
}

.contactbtn {
  border: 2px solid #fee36e;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #fee36e;
  color: black;
}

.about {
  z-index: 2;
  margin-top: 700px;
  background-color: white;
  position: relative;
}

.aboutpara {
  background-color: white;
  color: #2a2a2a;
  padding: 75px 125px 75px 125px;
}
@media only screen and (max-width: 1260px) {
  .aboutpara {
    padding: 0px;
  }
}
.hero {
  position: fixed;
  z-index: 1;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #373e98,
    #38397b,
    #36345f,
    #312f44,
    #2a2a2a
  );
  background-attachment: fixed;
}
.aboutme {
  color: #373e98;
  text-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}
.navbar-active {
  background-image: linear-gradient(
    to right,
    rgb(55, 62, 152),
    #38397b,
    #36345f,
    #312f44,
    #2a2a2a
  );
  color: white;
}
.navitem {
  justify-content: end;
}
.card {
  max-width: 391.66px;
  min-width: 391.66px;
  min-height: 268.06px;
  /* border-image: linear-gradient(to right, #373e98, #38397b, #36345f, #312f44, #2a2a2a) 30;
    border-width: 2px;
    border-style: solid; */
  /* background-color: #eeee; */
  /* box-shadow: 2px 4px 10px hsla(0, 0%, 0%, .3),
    2px 4px 20px hsla(0, 0%, 0%, .2); */
  border: none;
}
.card-body {
  border-top: none;
}
.card-header {
  border: none;
  background-color: white;
  text-decoration: underline rgb(241, 103, 117);
}

.icons {
  height: 25px;
  width: 25px;
}
.projectcontainer {
  /* background-image: linear-gradient(to left top, #373e98, #38397b, #36345f, #312f44, #2a2a2a); */
  background-color: #f2f2f2;
  color: black;
  z-index: 2;
  position: relative;
}

.projectpics {
  max-height: 100%;
  max-width: 100%;
}
/* .projectcols {
  height: 300px;
} */


/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}



/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  /* height: 26px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.projectrow {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgb(242, 242, 242),
    rgb(55, 62, 152),
    rgb(242, 242, 242)
  );
  border-image-slice: 1;
  width: 100%;
}
hr {
  border-image: linear-gradient(
    0.25turn,
    rgb(242, 242, 242),
    rgb(241, 103, 117),
    rgb(242, 242, 242)
  );
  border-image-slice: 1;
  width: 100%;
}
strong {
  position: relative;
}

strong::before {
  /* Highlight color */
  background-color: rgb(241, 103, 117);

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 100%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}
.contact {
    height: 500px;
    background-color: white;
    background-color: #2a2a2a;
    z-index: 2;
    position: relative;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  
  background-color: transparent;
  color: #fff;
  letter-spacing: 1px;
}
.form-wrapper {
  border: 1px solid grey;
  margin: 1px;
}
.contactlinks {
  background-color: #2a2a2a;
  color: black;
}
.hrefs{
  color: white;
}
.hrefs:hover {
  color: #f16775;
  text-decoration: underline;
}
.contactheader {
  color:#f16775;
}
.contactblurp, .contactsubheader {
  color: white;
}
.projectlinks {
  color:rgb(55, 62, 152);
  text-decoration: underline rgb(55, 62, 152);
}
.projectlinks:hover, .projectlinks:active {
  color: rgb(241, 103, 117);
}